.sectionBar_container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    border: 1px solid grey;
    border-top: 0;
    background-color: #1e1e1e;
    padding: 0.75rem 0;
    gap: 1.5rem;
    border-bottom: 2px solid var(--color-teal);
}

.section_marker {
    position: relative;
    border-radius: 50%;
    width: 0.75rem;
    aspect-ratio: 1/1;
    background-color: #1e1e1e;
    border: 1px solid grey;
}

/* .z1 {
    background-color: #565f5f;
} */

.dot {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    background-color: var(--color-teal); 
    /* background-color: red;  */
}