.zoneTitle_container {
    display: grid;
    grid-template-columns: 1fr 15fr 1fr;
    border: 1px solid grey;
    border-top: 0;
    background-color: #efefef;
}

.title_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    /* border-right: 1px solid grey;
    border-left: 1px solid grey; */
}

.title_container h2 {
    font-size: 1.1rem;
    font-family: "Bebas Neue", serif;
}

.title_color{
    color: #c4c4c4;
}

.prev_btn, .next_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 0;
    color: black;
    font-family: "Bebas Neue", serif;
}

.prev_btn {
    border-right: 1px solid grey;
}

.next_btn {
    border-left: 1px solid grey;
}

