.stage_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-lightGrey);
    border: 1px solid grey;
    /* width: 100%; */
    padding: 2rem 0;
}

.logo_container {
    width: 10rem;
    padding: 1rem;
}

.pad_container {
    width:45rem;
    padding: 1rem;
}

/* Pad2 Styles */
/* .cls-1 {
  stroke-width: .29px;
}

.cls-1, .cls-2 {
  stroke: #212322;
}

.cls-1, .cls-3 {
  fill: #fff;
}

.cls-4 {
  clip-path: url(#clippath-1);
}

.cls-5 {
  fill: #bfbfbf;
}

.cls-6 {
  stroke: #414042;
  stroke-width: .33px;
}

.cls-6, .cls-2, .cls-7, .cls-8 {
  fill: none;
}

.cls-2 {
  stroke-dasharray: 2.02 1.01;
  stroke-width: .3px;
}

.cls-3, .cls-7 {
  stroke-width: .32px;
}

.cls-3, .cls-7, .cls-8 {
  stroke: #444b4c;
}

.cls-8 {
  stroke-width: .32px;
}

.cls-9 {
  clip-path: url(#clippath);
} */

/* pads_full */

.cls-1 {
  stroke-width: .53px;
}

.cls-1, .cls-2, .cls-3, .cls-4, .cls-5, .cls-6, .cls-7, .cls-8, .cls-9, .cls-10, .cls-11, .cls-12, .cls-13, .cls-14, .cls-15, .cls-16, .cls-17, .cls-18, .cls-19, .cls-20, .cls-21, .cls-22, .cls-23, .cls-24, .cls-25, .cls-26, .cls-27, .cls-28, .cls-29, .cls-30, .cls-31, .cls-32, .cls-33, .cls-34, .cls-35, .cls-36, .cls-37, .cls-38 {
  stroke: #444b4c;
}

.cls-1, .cls-2, .cls-4, .cls-39, .cls-9, .cls-10, .cls-15, .cls-17, .cls-40, .cls-22, .cls-29 {
  fill: #fff;
}

.cls-41 {
  fill: url(#radial-gradient-4);
}

.cls-41, .cls-42, .cls-43, .cls-44 {
  opacity: .4;
}

.cls-45 {
  stroke-width: .45px;
}

.cls-45, .cls-46, .cls-47, .cls-48, .cls-7, .cls-11, .cls-12, .cls-49, .cls-50, .cls-14, .cls-16, .cls-23, .cls-51, .cls-52, .cls-25, .cls-28, .cls-53, .cls-32, .cls-34, .cls-37 {
  fill: none;
}

.cls-45, .cls-54 {
  stroke: #464e4f;
}

.cls-46 {
  stroke-dasharray: 1.17;
  stroke-width: .45px;
}

.cls-46, .cls-47, .cls-51, .cls-52 {
  stroke: #231f20;
}

.cls-2 {
  stroke-width: .42px;
}

.cls-54 {
  stroke-dasharray: .91;
  stroke-width: .35px;
}

.cls-54, .cls-55 {
  fill: #231f20;
}

.cls-3, .cls-8 {
  fill: #eaeaea;
}

.cls-3, .cls-36 {
  stroke-width: .41px;
}

.cls-4, .cls-12 {
  stroke-width: .41px;
}

.cls-5 {
  fill: url(#USGS_21_Intricate_Surface-5);
}

.cls-5, .cls-19, .cls-26, .cls-31 {
  opacity: .15;
}

.cls-5, .cls-31 {
  stroke-width: .11px;
}

.cls-47 {
  stroke-dasharray: 1.18;
  stroke-width: .45px;
}

.cls-39 {
  stroke-width: .38px;
}

.cls-39, .cls-50 {
  stroke: #212322;
}

.cls-6 {
  fill: url(#USGS_21_Intricate_Surface-2);
  stroke-width: .13px;
}

.cls-6, .cls-21, .cls-38 {
  opacity: .2;
}

.cls-48 {
  stroke: #232828;
}

.cls-48, .cls-32 {
  stroke-dasharray: 2.59 1.3;
  stroke-width: .39px;
}

.cls-7 {
  stroke-dasharray: 2.59 1.29;
  stroke-width: .39px;
}

.cls-8 {
  stroke-width: .41px;
}

.cls-42 {
  fill: url(#radial-gradient-3);
}

.cls-9 {
  stroke-width: .52px;
}

.cls-10, .cls-34 {
  stroke-width: .41px;
}

.cls-11, .cls-17 {
  stroke-width: .41px;
}

.cls-43 {
  fill: url(#radial-gradient-2);
}

.cls-50 {
  stroke-dasharray: 2.6 1.3;
  stroke-width: .39px;
}

.cls-13 {
  fill: #383838;
  stroke-width: .37px;
}

.cls-14 {
  stroke-width: .41px;
}

.cls-15, .cls-19 {
  stroke-width: .42px;
}

.cls-16 {
  stroke-dasharray: 2.61 1.3;
  stroke-width: .39px;
}

.cls-56 {
  fill: #90ff00;
}

.cls-57 {
  fill: url(#USGS_8_Sewage_Disposal);
}

.cls-58 {
  clip-path: url(#clippath-1);
}

.cls-59 {
  isolation: isolate;
}

.cls-60, .cls-35 {
  fill: #bfbfbf;
}

.cls-18 {
  fill: url(#BubbleHex_2.0-3);
}

.cls-18, .cls-20 {
  stroke-width: .02px;
}

.cls-18, .cls-20, .cls-61 {
  mix-blend-mode: exclusion;
}

.cls-40 {
  stroke: #101211;
  stroke-miterlimit: 10;
  stroke-width: .42px;
}

.cls-19 {
  fill: url(#USGS_8_Sewage_Disposal-2);
}

.cls-44 {
  fill: url(#radial-gradient);
}

.cls-20 {
  fill: url(#BubbleHex_2.0-2);
}

.cls-21 {
  fill: url(#USGS_21_Intricate_Surface-4);
  stroke-width: .13px;
}

.cls-22 {
  stroke-width: .52px;
}

.cls-23 {
  stroke-dasharray: 1.88 .94;
  stroke-width: .28px;
}

.cls-62 {
  fill: url(#linear-gradient);
}

.cls-62, .cls-63 {
  opacity: .05;
}

.cls-51 {
  stroke-width: .26px;
}

.cls-52 {
  stroke-linecap: square;
  stroke-width: .3px;
}

.cls-24 {
  stroke-width: .44px;
}

.cls-24, .cls-27 {
  fill: #ebf2f2;
}

.cls-25 {
  stroke-width: .41px;
}

.cls-26 {
  fill: url(#USGS_21_Intricate_Surface-3);
  stroke-width: .11px;
}

.cls-64 {
  mix-blend-mode: luminosity;
}

.cls-27 {
  stroke-width: .44px;
}

.cls-63 {
  fill: url(#linear-gradient-2);
}

.cls-28 {
  opacity: .3;
  stroke-width: .42px;
}

.cls-65 {
  fill: url(#USGS_8_Sewage_Disposal-3);
}

.cls-29, .cls-30 {
  stroke-width: .41px;
}

.cls-30 {
  fill: #335600;
}

.cls-53 {
  stroke: #414042;
  stroke-width: .42px;
}

.cls-66 {
  fill: #464e4f;
}

.cls-31 {
  fill: url(#USGS_21_Intricate_Surface-6);
}

.cls-67 {
  clip-path: url(#clippath-2);
}

.cls-33 {
  fill: url(#D3O_Green);
  stroke-width: .52px;
}

.cls-35 {
  stroke-width: .26px;
}

.cls-36 {
  fill: #9b9b9b;
}

.cls-68 {
  fill: #383d3d;
}

.cls-37 {
  stroke-dasharray: 1.87 .93;
  stroke-width: .28px;
}

.cls-69 {
  opacity: .5;
}

.cls-70 {
  fill: url(#BubbleHex_2.0);
  opacity: .9;
}

.cls-38 {
  fill: url(#USGS_21_Intricate_Surface);
  stroke-width: .13px;
}

.cls-61 {
  fill: url(#hex);
}