.UI_container {
    /* display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem; */
    background-color: #efefef;
    padding: 2rem;
    border: 1px solid grey;
    border-top: 0;
    display: flex;
    overflow: hidden;
    /* gap: 2rem; */
}

.ui_zone {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    /* margin-top: 1rem; */
    width: 110%;
    flex-shrink: 0;
    transition: translate 300ms ease-in-out;
    
}

.zone_header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.zone_header span {
    font-family: "Oxanium", serif;
    font-weight: 200;
    text-transform: capitalize;
    font-size: 1rem;
}

.ui_zone h2 {
    margin-top: 0;
    font-size: 1.15rem;
    font-family: "Bebas Neue", serif;
}